body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u801 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u802 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u803 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u804 {
  position:absolute;
  left:26px;
  top:107px;
  width:375px;
  height:667px;
}
#u805 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u806 {
  position:absolute;
  left:28px;
  top:105px;
  width:375px;
  height:20px;
  color:#000000;
}
#u807 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:11px;
}
#u808 {
  position:absolute;
  left:34px;
  top:110px;
  width:359px;
  height:11px;
  color:#333333;
}
#u809 {
  position:absolute;
  left:2px;
  top:-2px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810 {
  position:absolute;
  left:318px;
  top:131px;
  width:83px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u811 {
  position:absolute;
  left:28px;
  top:131px;
  width:49px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u812 {
  position:absolute;
  left:149px;
  top:178px;
  width:252px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u813 {
  position:absolute;
  left:149px;
  top:225px;
  width:252px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u814 {
  position:absolute;
  left:149px;
  top:272px;
  width:252px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u815 {
  position:absolute;
  left:149px;
  top:319px;
  width:252px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u816 {
  position:absolute;
  left:149px;
  top:366px;
  width:252px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u817 {
  position:absolute;
  left:149px;
  top:413px;
  width:252px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u818 {
  position:absolute;
  left:149px;
  top:460px;
  width:252px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u819 {
  position:absolute;
  left:149px;
  top:507px;
  width:252px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u820 {
  position:absolute;
  left:149px;
  top:554px;
  width:252px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u821 {
  position:absolute;
  left:149px;
  top:601px;
  width:252px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u822 {
  position:absolute;
  left:28px;
  top:178px;
  width:121px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u823 {
  position:absolute;
  left:28px;
  top:225px;
  width:121px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u824 {
  position:absolute;
  left:28px;
  top:272px;
  width:121px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u825 {
  position:absolute;
  left:28px;
  top:319px;
  width:121px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u826 {
  position:absolute;
  left:28px;
  top:368px;
  width:121px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u827 {
  position:absolute;
  left:28px;
  top:415px;
  width:121px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u828 {
  position:absolute;
  left:28px;
  top:462px;
  width:121px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u829 {
  position:absolute;
  left:28px;
  top:505px;
  width:121px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u830 {
  position:absolute;
  left:28px;
  top:552px;
  width:121px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u831 {
  position:absolute;
  left:28px;
  top:599px;
  width:121px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u832 {
  position:absolute;
  left:28px;
  top:646px;
  width:121px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u833 {
  position:absolute;
  left:28px;
  top:691px;
  width:121px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u834 {
  position:absolute;
  left:28px;
  top:733px;
  width:121px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
