body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u3255 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u3256 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3257 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3258 {
  position:absolute;
  left:28px;
  top:106px;
  width:375px;
  height:667px;
}
#u3259 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3260 {
  position:absolute;
  left:28px;
  top:105px;
  width:375px;
  height:20px;
  color:#000000;
}
#u3261 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:11px;
}
#u3262 {
  position:absolute;
  left:34px;
  top:110px;
  width:359px;
  height:11px;
  color:#333333;
}
#u3263 {
  position:absolute;
  left:2px;
  top:-2px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:44px;
}
#u3264 {
  position:absolute;
  left:356px;
  top:128px;
  width:47px;
  height:44px;
}
#u3265 {
  position:absolute;
  left:2px;
  top:14px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3266 {
  position:absolute;
  left:42px;
  top:241px;
  width:351px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3267 {
  position:absolute;
  left:28px;
  top:127px;
  width:50px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3268 {
  position:absolute;
  left:28px;
  top:289px;
  width:375px;
  height:89px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3269 {
  position:absolute;
  left:28px;
  top:386px;
  width:375px;
  height:89px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3270 {
  position:absolute;
  left:200px;
  top:175px;
  width:63px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3271 {
  position:absolute;
  left:286px;
  top:175px;
  width:63px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3272 {
  position:absolute;
  left:34px;
  top:175px;
  width:63px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
