body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u11 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:669px;
}
#u12 {
  position:absolute;
  left:28px;
  top:105px;
  width:375px;
  height:669px;
  font-family:'Adobe 仿宋 Std R', 'Adobe 仿宋 Std';
  font-weight:400;
  font-style:normal;
}
#u13 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u15 {
  position:absolute;
  left:28px;
  top:105px;
  width:375px;
  height:20px;
  color:#000000;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:11px;
}
#u17 {
  position:absolute;
  left:34px;
  top:110px;
  width:359px;
  height:11px;
  color:#333333;
}
#u18 {
  position:absolute;
  left:2px;
  top:-2px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Mistral Normal', 'Mistral';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u19 {
  position:absolute;
  left:171px;
  top:138px;
  width:85px;
  height:26px;
  font-family:'Mistral Normal', 'Mistral';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:358px;
  top:131px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u22 {
  position:absolute;
  left:275px;
  top:183px;
  width:67px;
  height:34px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u24 {
  position:absolute;
  left:96px;
  top:183px;
  width:67px;
  height:34px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u26 {
  position:absolute;
  left:342px;
  top:197px;
  width:46px;
  height:13px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u27 {
  position:absolute;
  left:2px;
  top:-2px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:28px;
  top:223px;
  width:375px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u29 {
  position:absolute;
  left:28px;
  top:333px;
  width:375px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  position:absolute;
  left:28px;
  top:443px;
  width:375px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31 {
  position:absolute;
  left:28px;
  top:553px;
  width:375px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u32 {
  position:absolute;
  left:28px;
  top:664px;
  width:375px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
