body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u5189 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u5190 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u5191 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u5192 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u5193 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u5194 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:51px;
}
#u5195 {
  position:absolute;
  left:28px;
  top:724px;
  width:374px;
  height:51px;
  font-size:18px;
  color:#F2F2F2;
}
#u5196 {
  position:absolute;
  left:2px;
  top:14px;
  width:370px;
  word-wrap:break-word;
}
#u5197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:50px;
}
#u5197 {
  position:absolute;
  left:28px;
  top:107px;
  width:374px;
  height:50px;
}
#u5198 {
  position:absolute;
  left:2px;
  top:17px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:33px;
}
#u5199 {
  position:absolute;
  left:159px;
  top:113px;
  width:127px;
  height:33px;
  font-size:20px;
}
#u5200 {
  position:absolute;
  left:2px;
  top:5px;
  width:123px;
  word-wrap:break-word;
}
#u5201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5201 {
  position:absolute;
  left:44px;
  top:113px;
  width:33px;
  height:33px;
  opacity:0;
}
#u5202 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:33px;
}
#u5203 {
  position:absolute;
  left:339px;
  top:116px;
  width:58px;
  height:33px;
}
#u5204 {
  position:absolute;
  left:2px;
  top:8px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:427px;
}
#u5205 {
  position:absolute;
  left:28px;
  top:169px;
  width:374px;
  height:427px;
}
#u5206 {
  position:absolute;
  left:2px;
  top:206px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5207 {
  position:absolute;
  left:249px;
  top:528px;
  width:55px;
  height:68px;
  opacity:0;
}
#u5208 {
  position:absolute;
  left:2px;
  top:26px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5209 {
  position:absolute;
  left:119px;
  top:528px;
  width:55px;
  height:68px;
  opacity:0;
}
#u5210 {
  position:absolute;
  left:2px;
  top:26px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:70px;
}
#u5211 {
  position:absolute;
  left:184px;
  top:524px;
  width:68px;
  height:70px;
}
#u5212 {
  position:absolute;
  left:2px;
  top:27px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
