body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u2774 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u2775 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2776 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2777 {
  position:absolute;
  left:28px;
  top:106px;
  width:375px;
  height:667px;
}
#u2778 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:39px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2779 {
  position:absolute;
  left:79px;
  top:152px;
  width:35px;
  height:39px;
}
#u2780 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2781 {
  position:absolute;
  left:28px;
  top:105px;
  width:375px;
  height:20px;
  color:#000000;
}
#u2782 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:11px;
}
#u2783 {
  position:absolute;
  left:34px;
  top:110px;
  width:359px;
  height:11px;
  color:#333333;
}
#u2784 {
  position:absolute;
  left:2px;
  top:-2px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2785 {
  position:absolute;
  left:153px;
  top:200px;
  width:127px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2786 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u2787 {
  position:absolute;
  left:51px;
  top:156px;
  width:31px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2788 {
  position:absolute;
  left:49px;
  top:522px;
  width:333px;
  height:240px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2789 {
  position:absolute;
  left:305px;
  top:152px;
  width:69px;
  height:36px;
}
#u2790 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
