body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u5229 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u5230 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:50px;
}
#u5231 {
  position:absolute;
  left:28px;
  top:107px;
  width:374px;
  height:50px;
}
#u5232 {
  position:absolute;
  left:2px;
  top:17px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:33px;
}
#u5233 {
  position:absolute;
  left:159px;
  top:113px;
  width:127px;
  height:33px;
  font-size:20px;
}
#u5234 {
  position:absolute;
  left:2px;
  top:5px;
  width:123px;
  word-wrap:break-word;
}
#u5235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5235 {
  position:absolute;
  left:44px;
  top:113px;
  width:33px;
  height:33px;
  opacity:0;
}
#u5236 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:33px;
}
#u5237 {
  position:absolute;
  left:339px;
  top:116px;
  width:58px;
  height:33px;
}
#u5238 {
  position:absolute;
  left:2px;
  top:8px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:554px;
}
#u5239 {
  position:absolute;
  left:28px;
  top:157px;
  width:374px;
  height:554px;
}
#u5240 {
  position:absolute;
  left:2px;
  top:269px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
